@import "tailwindcss";

:root {
  --font-family-base: var(--font-inter);
}

body {
  font-family: var(--font-inter);
}

html, body {
  background: black;
}


/* Menu curtain */
.menu-overlay {
  clip-path: inset(0 0 100% 0);
  transition: clip-path 1s cubic-bezier(0.85, 0, 0.15, 1);
}
.menu-overlay.open {
  clip-path: inset(0 0 0 0);
}

/* Reveal animation */
.reveal-text {
  transform: translateY(120%);
  opacity: 0;
  transition:
    transform 0.8s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 0.8s ease;
}
.open .reveal-text {
  transform: translateY(0);
  opacity: 1;
}